
     <header class="showcase">
    <div class="container-show showcase-inner">
     <div class="showcase-elements-text" >
          <h1>We Breathe Startups!</h1>
          <p>We provide startup consulting, take up research projects, write blogs, mantain a cool instagram account and even run our own startup</p>
          <a href="#" class="button">Explore</a>
      </div>
         <div style="max-width: 70vh;" class="showcase-elements-image"
 >
          <img src="/Startup_PNG.png">
     </div> 
     </div>
                
</header>
