
     <header class="showcase">
    <div class="container-show showcase-inner">
     <div style="max-width: 50vw;
@media only screen and (max-width: $first-breakpoint){
                 max-width: 80vw;
                 }
    padding-right: 150px;">
          <h1>We Breathe Startups!</h1>
          <p>We provide startup consulting, take up research projects, write blogs, mantain a cool instagram account and even run our own startup</p>
          <a href="#" class="button">Explore</a>
      </div>
         <div style="max-width: 70vh;@media only screen and (max-width: $first-breakpoint){
                 
                        max-width: 80%;
                     margin-left:0px;
                 }
 ">
          <img src="/Startup_PNG.png">
     </div> 
     </div>
                
</header>
